:root {
--liver: #664c43ff;
--mikado-yellow: #ffc100ff;
--vivid-tangerine: #eb9486ff;
--cadet-blue: #5ab1bbff;
--orange-soda: #f95738ff;
}

html { 
    background: url(../src/bg-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

body {
    margin:0;
    padding:0;
    color:var(--vivid-tangerine);
    font-family: 'Oxygen', sans-serif;
    height:100%;

}
#container{
    display:flex;
    flex-flow:column;
    align-items:center;
    min-height:100%;
    justify-content:space-between;
    flex:1 0 auto;
}
#header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
nav{
    display:flex;
    align-items:space-between;
    width:20rem;
    justify-content:space-between;
    margin-top:2rem;
    font-size:1.5rem;
}
.nav-link, .nav-link    {
    text-decoration:none;
    color:var(--cadet-blue);
    cursor:pointer;

}
#content{
    display:flex;
    flex-flow:column wrap;
    width:80vw;
    align-items:center;

}
h1, h2, h3{    
    font-family: 'Overlock', cursive;
    color:var(--orange-soda);
    margin:0;
    padding:0;
    text-align:center;
}
h1 {
    font-size:6rem;
    font-weight:100;
}
h2{
    font-size:1.5rem;
    
}
h3{
    font-size:2rem;
    text-align:left;
    margin-top:3rem;
}

.main-content{
    margin-top:5rem;
    width:40vw;
    align-self:flex-end;
    font-size:1.2rem;}

#menu{
    display:flex;
    flex-flow:column;
}
#menu ul {
    display:flex;
    flex-flow:column;
}
#menu ul li {
    list-style-type: none;
    margin-top:1rem;
    display:flex;
    align-items:center;
    border:1px solid var(--vivid-tangerine);
    box-shadow:2px 2px 6px rgba(0,0,0,0.1),
                4px 4px 4px rgba(0,0,0,0.1);
}
#menu ul li img {
    height:150px;
    width:150px;
}
#menu ul li .menu-item-name{
    font-size:2rem;
    color:var(--cadet-blue);
}
#menu ul li .menu-group {
    margin-left:2rem;
}
#contact{
    display:flex;
    flex-flow:column;
    align-content:center;
    justify-content:center;
}

#our-story{
    color:var(--liver);
    text-align:justify;
line-height:2rem;}

footer{
    height:5rem;
    background-color:var(--cadet-blue);
    color:white;    
    display:flex;
    width:100vw;
    justify-content:center;   
    align-items:center;
}
footer span {
    display:flex;
    align-items:center;    
}
footer span a {
    margin-left:0.5rem;
    text-decoration:none;
    font-weight:800;
    color:black;
    transition: all linear 0.2s;
}
footer span a:hover{
    color:white;
}
#map {margin:2rem;}